/*======================================================================================\\
|| 						2019, Samuel Luc (aka Kamille Ligula)							||
\\======================================================================================*/

body {
	background-image: url("img/background.jpg");
	background-attachment: fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	min-height: 100%;
	overflow: hidden;
}
canvas {
	position:fixed;
	left:0;
	top:0;

	background-image: url("img/grid.png");
	background-size: 100%;
}